<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
      <% } %>
        <div class="outer">
          <div id="footer-info" class="inner">
            &copy;
            <%= date(new Date(), 'YYYY') %>
              <%= config.author || config.title %> |
                <span id="busuanzi_container_site_pv">
                  您是本站第
                  <span id="busuanzi_value_site_pv"></span>个访客
                </span>
                <br> 
                Theme <a href="https://github.com/henryhuang/oishi" target="_blank">Oishi</a>, 
                modify by <a href="https://github.com/txz1220" target="_blank">kaige</a> | 
                Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> |
                <span>Hosted by
                  <a href="https://pages.coding.me" target="_blank">Coding Pages</a>
                </span>

          </div>

        </div>

</footer>